<section class="container-wrapper">
  <article class="container-title">
    <p><strong>My Cart </strong>({{count}} item)</p>
  </article>
  <article class="cart-item-wrapper" *ngIf="itemsInCart && itemsInCart.length">
    <app-shopping-cart-item *ngFor="let item of itemsInCart" [cartItem]=item></app-shopping-cart-item>
  </article>
  <article class="lowest-price-wrapper" *ngIf="itemsInCart && itemsInCart.length">
    <figure>
      <img src="/assets/images/lowest-price.png">
      <figcaption>You won't find it cheaper anywhere</figcaption>
    </figure>
  </article>
  <article class="checkout-wrapper">
    <p *ngIf="count > 0">Promo code can be applied on payment page</p>
    <button>
      <span *ngIf="count > 0"> Proceed to Checkout</span>
      <span *ngIf="count > 0" class="final-price">Rs.{{totalPrice}}  &nbsp; &nbsp;> </span>
      <span *ngIf="count === 0">
        Start Shopping
      </span>
    </button>
  </article>
</section>
