@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";


.container-wrapper {
  background-color: $lt-grey;
  padding-top: 3rem;
  height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;

  @include screen("md") {
    height: calc(100vh -7rem);
  }

  .article {
    width: 100%;
    background-color: $white;
    margin-bottom: 2rem;
  }

  .container-title {
    padding: 1.5rem;

    .title-paragraph {
      margin: 0;
      font-size: $font-16;
      font-weight: 600;

      strong {
        font-size: $font-24;
      }
    }
  }

  .cart-item-wrapper {
    background-color: transparent;
  }

  .empty-cart-description {
    background-color: $white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;

    .empty-cart-content {
      text-align: center;
      font-weight: 600;
    }
  }

  .lowest-price-wrapper {
    max-height: 12rem;
    width: 98%;
    margin: 0 auto 2rem;
    border-radius: 5px;

    .lowest-cart-figure {
      display: flex;
      align-items: center;
      padding: 1rem;

      img {
        max-width: 15rem;
        float: left;
      }

      figcaption {
        float: left;
        margin-left: 1rem;
        font-size: $font-18;
        font-weight: 600;
      }
    }
  }

  .checkout-wrapper {
    margin-top: auto;
    padding: 1.5rem;
    font-size: $font-18;
    font-weight: 600;

    .checkout-paragraph {
      text-align: center;
    }

    .checkout-button {
      width: 100%;
      padding: 1.5rem;
      color: $white;
      border: none;
      text-align: left;
      border-radius: .3rem;
      display: flex;
      justify-content: space-between;
      background-color: $dark-pink;

      .final-price {
        margin-left: auto;
      }

      .empty-cart-button {
        margin: 0 auto;
      }
    }
  }
}
