@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.footer {
    background-color: $lt-grey;
    padding: 1rem 1rem;
    font-size: $font-14;
    
    @include screen('lg'){
        font-size: $font-16;
        padding: 2rem 1rem;
    }
    .container {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @include screen('lg'){
            justify-content: left;
        }
    }
}
