@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

footer {
    background-color: $lt-grey;
    font-size: 1.6rem;
    padding: 2rem 1rem;
    
    @include screen('sm'){
        padding: 1rem 1rem;
        font-size: 1.4rem;
    }
    @include screen('md'){
        padding: 1rem 1rem;
        font-size: 1.4rem;
    }
    div {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @include screen('lg'){
            justify-content: left;
        }
    }
}
