@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

header {
  box-shadow: 0px 3px 5px 0px $lt-grey;

  .header-container {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    font-weight: bold;

    @include screen("sm") {
      height: 5.5rem;
    }

    @include screen("md") {
      height: 7rem;
    }

    @include screen("lg") {
      height: 10rem;
    }

    a {
      text-decoration: none;
    }

    .logo {
      flex: 0.8;
      display: flex;

      img {
        width: 18rem;
        height: 8rem;
      }

      @include screen("sm") {
        padding-bottom: 0px;
        align-items: center;

        img {
          width: 10rem;
          height: 100%;
          margin-top: 0.5rem;
          margin-left: 1rem;
        }
      }

      @include screen("md") {
        padding-bottom: 0px;
        align-items: center;

        img {
          width: 10rem;
          height: 100%;
        }
      }

      @include screen("lg") {
        padding-bottom: 0.5rem;
        align-items: flex-end;

        img {
          width: 18rem;
          height: 8rem;
        }
      }
    }

    .navigation {
      flex: 1.2;
      font-size: 1.6rem;

      @include screen("sm") {
        display: none;
      }

      .nav-blocks {
        float: left;
      }

      nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @include screen("md") {
          height: 7rem;
        }

        @include screen("lg") {
          height: 10rem;
        }

        a {
          margin-bottom: 2rem;
          margin-left: 3rem;
          text-decoration: none;
          color: $dark-grey;
        }
      }
    }

    .imp-links {
      flex: 1;

      nav {
        display: flex;
        justify-content: flex-end;
        height: 25%;
        font-size: 1.3rem;

        a {
          margin-left: 2rem;
          color: $dark-grey;
        }

        @include screen("sm") {
          display: none;
        }

        @include screen("md") {
          margin-right: 1rem;
        }
        @include screen("lg") {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      .link-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .cart {
        max-width: 100%;
        min-width: 40%;
        height: 60%;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: 1.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        border: none;
        fill: $pink;

        @include screen("sm") {
          height: 100%;
          font-size: 1.6rem;
          justify-content: center;
          padding-right: 2rem;
        }

        @include screen("md") {
          padding-right: 2rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
