@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.login-wrapper {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;

  @include screen("md") {
    flex-direction: row;
    max-width: 90%;
  }

  .section {
    margin-top: 4rem;

    .heading-h1 {
      font-size: $font-22;
      font-weight: bold;

      @include screen("md") {
        font-size: $font-24;
      }
    }

    .paragraph {
      font-size: $font-15;
      margin-top: 2rem;

      @include screen("md") {
        font-size: $font-16;
      }
    }
  }

  .section-intro {
    width: 80%;
    margin: 4rem auto 0;
  }

  @include screen("md") {
    .section-intro {
      flex: 0.7;
      padding-right: 1.5rem;
    }

    .section-form {
      flex: 1;
    }
  }
}
