@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.login-wrapper {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    section {
        margin-top: 4rem;
        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            @include screen("sm") {
                font-size: 2.2rem;
            }
        }
        p {
            font-size: 1.6rem;
            margin-top: 2rem;
            @include screen("sm") {
                font-size: 1.5rem;
            }
        }
    }
    section:first-child {
        flex: 0.7;
        @include screen("sm") {
            padding-right: 1.5rem;
        }
        @include screen("md") {
            padding-right: 1.5rem;
        }
    }
    section:last-child {
        flex: 1;
    }
}
