@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.form-item-wrapper {
  width: 80%;
  margin: 0 auto;

  @include screen('md') {
    width: 60%;
  }
}

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: $font-14;

  .form-control {
    padding: 4px;
    height: 2.5rem;
    width: 100%;
    font-size: $font-16;
    border: 0 !important;
    border-bottom: 1px solid $md-grey !important;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: unset;
    order: 2;

  }

  .form-input-label {
    margin: 0;
    order: 1;
    color: $dark-grey;
    transition: color 0.1s;
  }

  .form-control-error {
    order: 3;
    color: $lt-pink;
    margin-top: 0.5rem;
  }

}

.form-submit-button {
  border: none;
  border-radius: 0;
  padding: 1rem;
  margin: 2rem 0px 2rem 0px;
  background-color: $dark-pink;
  color: $white;
  cursor: pointer;
  width: 100%;
}

button.form-submit-button:disabled {
  opacity: 0.6;
  cursor: initial;
}
