@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.carousel-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0 8px 6px -6px $dark-grey;
    height:auto;
    @include screen("md") {
        height:20rem;
        margin-bottom: 2rem;
    }
}
