@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";


article {
  width: 100%;
  background-color: $white;
  margin-bottom: 2rem;
}

main {
  flex-direction: column;
  display: flex;
  margin-top: 2rem;
  min-height: calc(100% - 24rem)
}

.empty-cart-container {
  background-color: $white;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 18.6rem) !important;
}

.container-title {
  padding: 1.5rem;
  background-color: black;
  color: $white;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;

  span {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;

    strong {
      font-size: 2.4rem;
    }
  }
  button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
  }
}

.cart-item-wrapper {
  background-color: transparent;
  ;
}

.empty-cart-description {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;

  div {
    text-align: center;
    font-weight: 600;

    h2 {
      font-weight: bold;
    }
  }
}

.lowest-price-wrapper {
  max-height: 12rem;
  width: 98%;
  margin: 0 auto 2rem;
  border-radius: 5px;

  figure {
    display: flex;
    align-items: center;
    padding: 1rem;

    img {
      max-width: 15rem;
      float: left;
    }

    figcaption {
      float: left;
      margin-left: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

.checkout-wrapper {
  margin-top: auto;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0 !important;

  p {
    text-align: center;
  }

  button {
    width: 100%;
    padding: 1.5rem;
    color: $white;
    background-color: $dark-pink;
    border: none;
    text-align: left;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;

    .final-price {
      margin-left: auto;
    }

    .empty-cart-button {
      margin: 0 auto;
    }
  }
}
