@import "../../global-styles/variables.scss";
@import "../../global-styles/mixins.scss";

.product-page-container {
  display: flex;

  @include screen('sm') {
    flex-direction: column;
  }

  aside {
    display: none;
    height: auto;
    background-color: $lt-grey;

    .selected-category {
      background-color: $md-grey;
      color: $white;
      border: 1px solid $white;
      width: 100%;
      padding: 1rem;
    }

    @include screen('md') {
      display: flex;
      flex-direction: column;

      button {
        width: 95%;
        margin-left: auto;
        padding: 1rem 0rem;
        border: none;
        border-bottom: 1px solid $md-grey;
        text-align: left;
        padding-left: 1rem;
      }
    }

    @include screen('lg') {
      display: flex;
      flex-direction: column;
      flex: 1.3;

      button {
        width: 95%;
        margin-left: auto;
        padding: 1rem 0rem;
        border: none;
        border-bottom: 1px solid $md-grey;
        text-align: left;
        padding-left: 1rem;
      }
    }
  }


  .dropdown {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;

    @include screen('md') {
      display: none;
    }

    @include screen('lg') {
      display: none;
    }

    .dropbtn {
      padding: 2rem;
      width: 100%;
      background-color: $dark-pink;
      border: none;
      color: $white;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      .arrow-down {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content button {
    color: black;
    padding: 1.5rem;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .dropdown-content button:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
  }

  .dropdown:hover .dropbtn {
    opacity: .8;
    .arrow-down {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }



  .product-list-wrapper {
    @include screen('md') {
      display: grid;
      grid-template-columns: auto auto;
      flex: 4;
    }

    @include screen('lg') {
      display: grid;
      grid-template-columns: auto auto auto auto;
      flex: 4;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
