
@mixin screen($size) {
    @if $size=='sm'{
        @media (min-width:190px) {
            @content;
        }
    }
    @if $size=='md'{
        @media screen and (min-width:641px) {//(earlier 1007px)
            @content;
        }
    }
    @if $size=='lg'{
        @media (min-width:1008px) {
            @content;
        }
    }
}

@mixin arrowRotate($angle){
    -webkit-transform: rotate($angle);
    -moz-transform: rotate($angle);
    -ms-transform: rotate($angle);
    -o-transform: rotate($angle);
    transform: rotate($angle);
}